beautifulsoup4
blinker
bs4
certifi
charset-normalizer
click
colorama
Flask
idna
itsdangerous
Jinja2
joblib
MarkupSafe
nltk
psycopg2
regex
requests
soupsieve
tqdm
urllib3
Werkzeug
gunicorn
