.job{
    font-size: 40px;
    color: black;
    display: flex;
    
}
.typing-text{
color: orange;
margin-left:10px;
white-space:nowrap;
overflow: hidden;
border-right: 4px solid orange;
animation: typing 5s steps(11) infinite;
}
@keyframes typing{
    0%{
        width:0ch;
    }
    50%{
        width:12ch;
    }
    100%{
        width:0ch;
    }}
